/* General styles */

body {
font-family: "Roboto",sans-serif;
color: #434455;
background-color: #FFFFFF;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-header,
.portfolio-header {
    line-height: 1.11;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.advantages-header-item,
.portfolio-header-item {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.05em;
}
.section-descrpt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Reset styles */

h1, h2, h3, h4, h5, h6, p {
margin: 0;
}
ul, ol {
list-style-type: none;
margin: 0;
padding-left: 0;
}
a {
text-decoration: none;
}
img {
    display: block;
}

 /* Header section */

.company-name{
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}
.company-name-part{
    color: #2E2F42;

}
.navigation {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
    
}
.navigation .nav-items {
    color:#2e2f42;
}
.navigation .nav-items:hover,
.navigation .nav-items:focus {
color: #404BBF;
}
.navigation .nav-items:active {
   color: #404BBF;
}
.address {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-style: normal;
}
.address .address-item{
color: #434455;
 }
.address .address-item:hover,
.address .address-item:focus {
        color:#404BBF;
}

/* Hero section */

.hero-header {
            color: var(--WHITE, #FFF);
            font-size: 56px;
            font-weight: 700;
            line-height: 60px;
            letter-spacing: 0.02em;
            line-height: 1.07;
            margin-bottom: 48px;
            width: 496px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        
            
}
.button {
            display:block;
            color: var(--WHITE, #FFF);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.04em;
            background: var(--IRIS, #4D5AE5);
            border-radius: 4px;
            cursor: pointer;
            padding: 16px 32px;
            font-family: "Roboto", sans-serif;
            margin-left: auto;
            margin-right: auto;
    
} 
.button:hover,
.button:focus {
    background: var(--OCEAN, #404BBF);
}
.hero {
        
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
        
}

/* Advantages section */

/* Team section */

.team {
        background: var(--CLOUD, #F4F4FD);
}
.team-members {
    background: var(--WHITE, #FFF);
    justify-content: center;
}

/* Portfolio section */

.portfolio-list>p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
}

/* Footer section */

.footer {
        background: var(--NAVY-BLUE, #2E2F42);
    color: #F4F4FD;
  font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        padding-top: 101.5px;
        padding-bottom: 100px;
}
.company-name-part-light{
    color: var(--CLOUD, #F4F4FD);
}
.todo{
        font-size: 16px;
        font-weight: 400;
        margin-top: 16px;
        width: 264px;
}